.App {
  text-align: center;
}

.title{
    width: 100%;
      line-height: 2.2em;
      height: 2.6em;
      /* background-color: gainsboro; */
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-transform: capitalize;
      font-size: 18px;
      color:black;
      font-weight: 700 ;
}
.pera {
  width: 100%;
  line-height: 1.7em;
  height: 3.6em;
  /* background-color: gainsboro; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-transform: capitalize;
  font-size: 14px;
  color: grey;
  font-weight: 500;
}
.loading{
  height: 300px;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 700;
}